<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Tweet last.fm status</title>
	</head>
	<body>
		<% include ../partials/main %>
		<% include ../partials/footer %>
	</body>
</html>